# GitHub OAuth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=https://sso.farismnrr.com/auth/github/callback

# SSO service
SSO_BASE_URL=https://sso.farismnrr.com

# Session
SESSION_SECRET=
